.wrap-text{
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.content-wrapper{
   min-height: 900px;
}
.message{
   max-width : 300px;
}
.header{
   background-color: #2a2a2a;
}
.page-brand{
   background-color: #222222!important;
}
.page-sidebar{
   background-color: #2a2a2a;
}
.clockdate-wrapper {
   background-color: #333;
   padding:25px;
   max-width:350px;
   width:100%;
   text-align:center;
   border-radius:5px;
   margin:0 auto;
   margin-top:15%;
}
#clock{
   font-family: sans-serif;
   font-size:20px;
   text-shadow:0px 0px 1px #fff;
   color:#fff;
}
#date {
   font-size:14px;
   font-family:arial,sans-serif;
   color:#fff;
   margin-left: 10px;
}